

.wrap{
	width: 90%;
	max-width: 100%;
	margin: 30px auto;
}

ul.tabs{
	
	background: #363636;
	list-style: none;
	display: flex;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	display: block;
	padding: 20px 0px;
}

.active{
	background: #0984CC;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
    width: 100%;
}

.secciones article{
	padding: 0%;
}

.secciones article p{
	text-align: justify;
}


@media screen and (max-width: 100%){
	ul.tabs li{
		width: 80%;
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media screen and (max-width: 450px){
	ul.tabs li a{
		padding: 15px 0px;
	}

	ul.tabs li a .tab-text{
		display: none;
	}

	.secciones article{
		padding: 10px;
	}
}


.gallery-container{
    margin-top: 20%;
    width: 100%;
    margin: auto;
    height: 300%;

 
}


